body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 319px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#Button1
{
   box-sizing: border-box;
   line-height: 49px;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #2E6DA4;
   border-radius: 0px;
   background-color: #F5BF23;
   background-image: none;
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#Button1:focus
{
   outline: 0;
}
#wb_Image1
{
   margin: 15px 0 0 0 ;
   direction: ltr;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 192px;
   height: 48px;
   vertical-align: top;
}
#wb_ResponsiveMenu1
{
   display: block;
   font-family: Arial;
   font-weight: normal;
   text-align: left;
   width: 100%;
   z-index: 1111 !important;
}
#ResponsiveMenu1
{
   background-color: #FFFFFF;
   height: 60px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   border-radius: 0;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 15px;
   width: 15px;
}
#wb_ResponsiveMenu1 ul li a
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   padding: 15px 30px 15px 30px;
   text-align: center;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 30px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li:hover > a, #wb_ResponsiveMenu1 li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 60px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   float: none;
   position: relative;
   width: 152px;
}
#wb_ResponsiveMenu1 ul ul li a
{
   background-color: #7A7A7A;
   border: 0px solid #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul li:hover > a, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 5px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   padding-top: 15px;
   padding-right: 20px;
   padding-bottom: 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 152px;
   position: relative;
   top: -60px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #000000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li:hover > a .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul ul li:hover > a .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:768px) 
{
#wb_ResponsiveMenu1
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto !important;   margin: 0;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #FFFFFF;
   color: #000000;
   padding: 0 20px 0 20px;
   line-height: 46px;
   text-decoration: none;
   border: none;
   position: relative;
}
#wb_ResponsiveMenu1 .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 60px !important;
   line-height: 60px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100% !important;
   text-align: left;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 5px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 18px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #000000;
   color: #000000;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #000000;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{
   border-top-color: #424242;
}
}
#wb_Carousel1
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
   margin: 0 0 20px 0 ;
}
#wb_Carousel1
{
   display: block;
   float: left;
   font-size: 0;
   top: 0 !important;
}
#Carousel1 .frame
{
   width: 970px;
   display: inline-block;
   overflow: hidden;
   height: 474px;
}
#Carousel1 .carousel-item-inner
{
   display: inline-block;
   height: 0;
   left: 0;
   margin-left: 0;
   position: absolute;
   top: 0;
   width: 970px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination a
{
   display: inline-block;
   position: relative;
   margin: 3px 3px 3px 3px;
   width: 17px;
   height: 17px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: rgba(255,192,0,1.00);
   border: 1px solid rgba(0,0,0,1.00);
   overflow: hidden;
   transition: background 0.3s ease;
}
#wb_Carousel1 .pagination a.active
{
}
#wb_Carousel1 .pagination a:after
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0;
   background-color: rgba(0,0,0,1.00);
   box-shadow: 0 0 1px rgba(0,0,0,1.00);
   content: "";
   transition: height 0.3s ease;
}
#wb_Carousel1 .pagination a.active::after
{
   height: 100%;
}
#wb_Carousel1 .carousel-control-next, #wb_Carousel1 .carousel-control-prev
{
   position: absolute;
   top: 0;
   left: 0;
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
   transition: opacity 0.3s ease;
}
#wb_Carousel1 .carousel-control-next-icon, #wb_Carousel1 .carousel-control-prev-icon
{
   display: inline-block;
   width: 32px;
   height: 32px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#wb_Carousel1 .carousel-control-next:hover, #wb_Carousel1 .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#wb_Carousel1 .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20128%20128%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M100%2026%20L62%2064%20L100%20102%20C101%20103%2c%20101%20104%2c%20101%20106%20C101%20107%2c%20101%20108%2c%20100%20109%20L88%20121%20C87%20122%2c%2086%20122%2c%2085%20122%20C84%20122%2c%2083%20122%2c%2082%20121%20L29%2068%20C28%2067%2c%2027%2066%2c%2027%2064%20C27%2063%2c%2028%2062%2c%2029%2061%20L82%208%20C83%207%2c%2084%207%2c%2085%207%20C86%207%2c%2087%207%2c%2088%208%20L100%2020%20C101%2021%2c%20101%2022%2c%20101%2023%20C101%2024%2c%20101%2026%2c%20100%2026%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#wb_Carousel1 .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20128%20128%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M99%2068%20L46%20121%20C45%20122%2c%2044%20122%2c%2043%20122%20C42%20122%2c%2041%20122%2c%2040%20121%20L28%20109%20C27%20108%2c%2027%20107%2c%2027%20106%20C27%20104%2c%2027%20103%2c%2028%20102%20L66%2064%20L28%2026%20C27%2026%2c%2027%2024%2c%2027%2023%20C27%2022%2c%2027%2021%2c%2028%2020%20L40%208%20C41%207%2c%2042%207%2c%2043%207%20C44%207%2c%2045%207%2c%2046%208%20L99%2061%20C100%2062%2c%20101%2063%2c%20101%2064%20C101%2066%2c%20100%2067%2c%2099%2068%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 46%;
   width: 32px;
   height: 32px;
   z-index: 999;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 46%;
   width: 32px;
   height: 32px;
   z-index: 999;
}
#Carousel1_back a, #Carousel1_next a
{
   cursor: pointer;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url('../images/slide1.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url('../images/slide1.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0;
}
#LayoutGrid3 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Section1
{
   height: 469px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: url('../images/pic1.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Section1-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 84.2%;
   height: 15.8%;
   width: 100%;
   padding: 0;
}
#Section1-card-item0
{
   opacity: 0;
   transition: opacity 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item0
{
   opacity: 1;
   transition: opacity 500ms linear 0ms;
}
#Section1-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section1-card-item0-clippath);
   clip-path: url(#Section1-card-item0-clippath);
}
#Section1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 77.1%;
   top: 84.2%;
   height: 15.8%;
   width: 22.9%;
   padding: 0;
}
#Section1-card-item1
{
   opacity: 0;
   transform: translate(100px,0px) rotate(12deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item1
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section1-card-item1 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFC000;
   background-image: none;
   -webkit-clip-path: url(#Section1-card-item1-clippath);
   clip-path: url(#Section1-card-item1-clippath);
}
#Section1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 82.9%;
   top: 87.2%;
   height: 8.5%;
   width: 11.6%;
   padding: 0;
}
#Section1-card-item2
{
   opacity: 0;
   transform: translate(0px,100px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item2
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section1-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section1-card-item2-clippath);
   clip-path: url(#Section1-card-item2-clippath);
}
#Section1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.9%;
   top: 84.6%;
   height: 15.4%;
   width: 63.5%;
   padding: 8px 0 8px 0;
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section1-card-item3
{
   opacity: 0;
   transform: translate(-200px,0px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item3
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1 #Section1-card-body:after
{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
}
#wb_Section1:hover #Section1-card-body:after
{
   background-color: rgba(0,0,0,0.60);
   transition: background-color 500ms linear 0ms;
}
#wb_Section2
{
   height: 469px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: url('../images/pic1.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Section2-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 84.2%;
   height: 15.8%;
   width: 100%;
   padding: 0;
}
#Section2-card-item0
{
   opacity: 0;
   transition: opacity 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item0
{
   opacity: 1;
   transition: opacity 500ms linear 0ms;
}
#Section2-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section2-card-item0-clippath);
   clip-path: url(#Section2-card-item0-clippath);
}
#Section2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 77.1%;
   top: 84.2%;
   height: 15.8%;
   width: 22.9%;
   padding: 0;
}
#Section2-card-item1
{
   opacity: 0;
   transform: translate(100px,0px) rotate(12deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item1
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section2-card-item1 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFC000;
   background-image: none;
   -webkit-clip-path: url(#Section2-card-item1-clippath);
   clip-path: url(#Section2-card-item1-clippath);
}
#Section2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 82.9%;
   top: 87.2%;
   height: 8.5%;
   width: 11.6%;
   padding: 0;
}
#Section2-card-item2
{
   opacity: 0;
   transform: translate(0px,100px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item2
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section2-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section2-card-item2-clippath);
   clip-path: url(#Section2-card-item2-clippath);
}
#Section2-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.9%;
   top: 84.6%;
   height: 15.4%;
   width: 63.5%;
   padding: 8px 0 8px 0;
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section2-card-item3
{
   opacity: 0;
   transform: translate(-200px,0px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item3
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2 #Section2-card-body:after
{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
}
#wb_Section2:hover #Section2-card-body:after
{
   background-color: rgba(0,0,0,0.60);
   transition: background-color 500ms linear 0ms;
}
#wb_Section3
{
   height: 469px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: url('../images/pic1.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Section3-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 84.2%;
   height: 15.8%;
   width: 100%;
   padding: 0;
}
#Section3-card-item0
{
   opacity: 0;
   transition: opacity 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item0
{
   opacity: 1;
   transition: opacity 500ms linear 0ms;
}
#Section3-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section3-card-item0-clippath);
   clip-path: url(#Section3-card-item0-clippath);
}
#Section3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 77.1%;
   top: 84.2%;
   height: 15.8%;
   width: 22.9%;
   padding: 0;
}
#Section3-card-item1
{
   opacity: 0;
   transform: translate(100px,0px) rotate(12deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item1
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section3-card-item1 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFC000;
   background-image: none;
   -webkit-clip-path: url(#Section3-card-item1-clippath);
   clip-path: url(#Section3-card-item1-clippath);
}
#Section3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 82.9%;
   top: 87.2%;
   height: 8.5%;
   width: 11.6%;
   padding: 0;
}
#Section3-card-item2
{
   opacity: 0;
   transform: translate(0px,100px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item2
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section3-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section3-card-item2-clippath);
   clip-path: url(#Section3-card-item2-clippath);
}
#Section3-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.9%;
   top: 84.6%;
   height: 15.4%;
   width: 63.5%;
   padding: 8px 0 8px 0;
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section3-card-item3
{
   opacity: 0;
   transform: translate(-200px,0px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item3
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3 #Section3-card-body:after
{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
}
#wb_Section3:hover #Section3-card-body:after
{
   background-color: rgba(0,0,0,0.60);
   transition: background-color 500ms linear 0ms;
}
#wb_Divider4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#Divider4
{
   display: flex;
   position: relative;
   padding: 25px 15px 25px 15px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #0C0C0C;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 25px 0 0 0 ;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 20px 15px 150px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Section4
{
   height: 601px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Section4-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0.3%;
   top: 28.1%;
   height: 71.5%;
   width: 43.4%;
   padding: 0;
}
#Section4-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding-bottom: 100%;
   padding-top: 0;
   padding-left: 0;
   padding-right: 0;
   height: 0;
   overflow: hidden;
   background-color: rgba(255,192,0,0.20);
   background-image: none;
   -webkit-clip-path: url(#Section4-card-item0-clippath);
   clip-path: url(#Section4-card-item0-clippath);
}
#Section4-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.6%;
   top: 2.2%;
   height: 73.4%;
   width: 72.3%;
   padding: 0;
}
#Section4-card-item1 img
{
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border: 0px solid #000000;
   border-radius: 0px;
}
#Section4-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 60.6%;
   top: 16%;
   height: 67.6%;
   width: 37.2%;
   padding: 0;
}
#Section4-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section4-card-item2-clippath);
   clip-path: url(#Section4-card-item2-clippath);
}
#Section4-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 63%;
   top: 40.3%;
   height: 19.6%;
   width: 32.1%;
   padding: 0;
   color: #000000;
   font-family: Cairo;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section4-card-item4
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 73.9%;
   top: 19.5%;
   height: 18.1%;
   width: 10.9%;
   padding: 0;
}
#Section4-card-item4 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #F5BF23;
   background-image: none;
   -webkit-clip-path: url(#Section4-card-item4-clippath);
   clip-path: url(#Section4-card-item4-clippath);
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   animation: transform-rotate 3000ms linear 0ms infinite reverse both;
   margin: 0;
   padding: 0;
   vertical-align: top;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   display:inline-block;
   position:relative;
}
#Icon2
{
   height: 79px;
   width: 97px;
}
.Icon2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.Icon2:before
{
   content: "\e3e2";
}
#Icon2 i
{
   color: #FFC000;
   display: inline-block;
   font-size: 79px;
   line-height: 79px;
   vertical-align: middle;
   width: 78px;
}
#wb_Icon2:hover #Icon2 i
{
   color: #FFC000;
}
#DividerLine5
{
   border-color: #FFFFFF;
   border-style: dashed;
   border-bottom-width: 3px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
   flex-grow: 1;
   flex-shrink: 0;
   align-self: auto;
}
#DividerLine7
{
   border-color: #FFFFFF;
   border-style: dashed;
   border-bottom-width: 3px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
   flex-grow: 1;
   flex-shrink: 0;
   align-self: auto;
}
#wb_ResponsiveMenu1
{
   display: inline-block;
   width: 455px;
   height: 81px;
   z-index: 2;
}
#wb_Image1
{
   display: inline-block;
   width: 192px;
   height: 48px;
   z-index: 1;
}
#Button1
{
   display: inline-block;
   width: 309px;
   height: 51px;
   z-index: 0;
}
#wb_Section1
{
   display: flex;
   width: 100%;
   z-index: 3;
}
#Carousel1
{
   position: absolute;
}
#wb_Carousel1
{
   position: absolute;
   left: 0px;
   top: 152px;
   width: 970px;
   height: 454px;
   z-index: 16;
   overflow: hidden;
   position: relative;
}
#wb_Section3
{
   display: flex;
   width: 100%;
   z-index: 5;
}
#wb_Section2
{
   display: flex;
   width: 100%;
   z-index: 4;
}
#wb_Section4
{
   display: flex;
   width: 100%;
   z-index: 13;
}
#DividerLine7
{
   display: block;
}
#wb_Icon2
{
   display: inline-block;
   width: 97px;
   height: 79px;
   text-align: center;
   z-index: 10;
}
#DividerLine5
{
   display: block;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: #EEEEEE;
   background-image: none;
   background-image: none;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 7px 15px 7px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 10px 15px 10px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#Button1
{
   width: 181px;
   height: 33px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
   font-size: 13px;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#Button1
{
   line-height: 31px;
}
#wb_Image1
{
   width: 82px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   margin: 15px 0 0 0 ;
   padding: 0;
}
#Image1
{
   width: 82px;
   height: 20px;
}
#wb_ResponsiveMenu1
{
   width: 53px;
   height: 60px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   text-align: right;
}
#wb_Carousel1
{
   width: 320px;
   height: 227px;
   visibility: visible;
   display: block;
   margin: 0 0 20px 0 ;
}
#Carousel1 .frame
{
   width: 320px;
   height: 227px;
}
#Carousel1 .carousel-item-inner
{
   width: 320px;
   height: 0;
}
#Carousel1_back
{
   top: 42%;
}
#Carousel1_next
{
   top: 42%;
}
#Carousel1_back
{
   left: 4px;
   top: 42%;
   width: 32px;
   height: 32px;
}
#Carousel1_next
{
   right: 4px;
   top: 42%;
   width: 32px;
   height: 32px;
}
#wb_Carousel1 .carousel-control-prev-icon, #wb_Carousel1 .carousel-control-next-icon
{
   width: 32px;
   height: 32px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2 > .col-2-padding
{
   width: 100%;
   padding: 7px 0 0 0;
}
#LayoutGrid3 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-3 > .col-3-padding
{
   width: 100%;
   padding: 7px 0 0 0;
}
#wb_Section1
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Section1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 86.9%;
   height: 13.1%;
   width: 100%;
   padding: 0;
}
#Section1-card-item0
{
   opacity: 0;
   transition: opacity 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item0
{
   opacity: 1;
   transition: opacity 500ms linear 0ms;
}
#Section1-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section1-card-item0-clippath);
   clip-path: url(#Section1-card-item0-clippath);
}
#Section1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 79.3%;
   top: 86.9%;
   height: 13.1%;
   width: 20.7%;
   padding: 0;
}
#Section1-card-item1
{
   opacity: 0;
   transform: translate(100px,0px) rotate(12deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item1
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section1-card-item1 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFC000;
   background-image: none;
   -webkit-clip-path: url(#Section1-card-item1-clippath);
   clip-path: url(#Section1-card-item1-clippath);
}
#Section1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 84.1%;
   top: 90.5%;
   height: 5.6%;
   width: 10.3%;
   padding: 0;
}
#Section1-card-item2
{
   opacity: 0;
   transform: translate(0px,100px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item2
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section1-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section1-card-item2-clippath);
   clip-path: url(#Section1-card-item2-clippath);
}
#Section1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.3%;
   top: 88.7%;
   height: 9.9%;
   width: 63.1%;
   padding: 0;
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section1-card-item3
{
   opacity: 0;
   transform: translate(-200px,0px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1:hover #Section1-card-item3
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section1
{
   text-align: center;
}
#wb_Section1
{
   height: 503px;
   padding: 0;
}
#wb_Section2
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Section2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 86.9%;
   height: 13.1%;
   width: 100%;
   padding: 0;
}
#Section2-card-item0
{
   opacity: 0;
   transition: opacity 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item0
{
   opacity: 1;
   transition: opacity 500ms linear 0ms;
}
#Section2-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section2-card-item0-clippath);
   clip-path: url(#Section2-card-item0-clippath);
}
#Section2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 79.3%;
   top: 86.9%;
   height: 13.1%;
   width: 20.7%;
   padding: 0;
}
#Section2-card-item1
{
   opacity: 0;
   transform: translate(100px,0px) rotate(12deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item1
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section2-card-item1 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFC000;
   background-image: none;
   -webkit-clip-path: url(#Section2-card-item1-clippath);
   clip-path: url(#Section2-card-item1-clippath);
}
#Section2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 84.1%;
   top: 90.5%;
   height: 5.6%;
   width: 10.3%;
   padding: 0;
}
#Section2-card-item2
{
   opacity: 0;
   transform: translate(0px,100px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item2
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section2-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section2-card-item2-clippath);
   clip-path: url(#Section2-card-item2-clippath);
}
#Section2-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.3%;
   top: 88.7%;
   height: 9.9%;
   width: 63.1%;
   padding: 0;
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section2-card-item3
{
   opacity: 0;
   transform: translate(-200px,0px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2:hover #Section2-card-item3
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section2
{
   text-align: center;
}
#wb_Section2
{
   height: 503px;
   padding: 0;
}
#wb_Section3
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Section3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 86.9%;
   height: 13.1%;
   width: 100%;
   padding: 0;
}
#Section3-card-item0
{
   opacity: 0;
   transition: opacity 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item0
{
   opacity: 1;
   transition: opacity 500ms linear 0ms;
}
#Section3-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section3-card-item0-clippath);
   clip-path: url(#Section3-card-item0-clippath);
}
#Section3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 79.3%;
   top: 86.9%;
   height: 13.1%;
   width: 20.7%;
   padding: 0;
}
#Section3-card-item1
{
   opacity: 0;
   transform: translate(100px,0px) rotate(12deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item1
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section3-card-item1 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFC000;
   background-image: none;
   -webkit-clip-path: url(#Section3-card-item1-clippath);
   clip-path: url(#Section3-card-item1-clippath);
}
#Section3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 84.1%;
   top: 90.5%;
   height: 5.6%;
   width: 10.3%;
   padding: 0;
}
#Section3-card-item2
{
   opacity: 0;
   transform: translate(0px,100px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item2
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#Section3-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section3-card-item2-clippath);
   clip-path: url(#Section3-card-item2-clippath);
}
#Section3-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.3%;
   top: 88.7%;
   height: 9.9%;
   width: 63.1%;
   padding: 0;
   color: #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section3-card-item3
{
   opacity: 0;
   transform: translate(-200px,0px) rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3:hover #Section3-card-item3
{
   opacity: 1;
   transform: rotate(0deg) ;
   transition: opacity 500ms linear 0ms, transform 500ms linear 0ms;
}
#wb_Section3
{
   text-align: center;
}
#wb_Section3
{
   height: 503px;
   padding: 0;
}
#wb_Divider4
{
   visibility: visible;
   display: block;
}
#Divider4
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 25px 15px 25px 15px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 25px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 20px 15px 150px 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Section4
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Section4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 8.3%;
   top: 0.5%;
   height: 34.2%;
   width: 86.2%;
   padding: 0;
}
#Section4-card-item0 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding-bottom: 100%;
   padding-top: 0;
   padding-left: 0;
   padding-right: 0;
   height: 0;
   overflow: hidden;
   background-color: rgba(255,192,0,0.20);
   background-image: none;
   -webkit-clip-path: url(#Section4-card-item0-clippath);
   clip-path: url(#Section4-card-item0-clippath);
}
#Section4-card-item1
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 1.6%;
   height: 22.5%;
   width: 97.6%;
   padding: 0;
}
#Section4-card-item1 img
{
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border: 0px solid #000000;
   border-radius: 0px;
}
#Section4-card-item2
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 0%;
   top: 30.1%;
   height: 51.2%;
   width: 99.7%;
   padding: 0;
}
#Section4-card-item2 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   -webkit-clip-path: url(#Section4-card-item2-clippath);
   clip-path: url(#Section4-card-item2-clippath);
}
#Section4-card-item3
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 5.9%;
   top: 39.3%;
   height: 38.2%;
   width: 90.3%;
   padding: 0;
   color: #000000;
   font-family: Cairo;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   text-align: justify;
}
#Section4-card-item4
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 37.9%;
   top: 32.2%;
   height: 6.7%;
   width: 19.3%;
   padding: 0;
}
#Section4-card-item4 > div
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: #F5BF23;
   background-image: none;
   -webkit-clip-path: url(#Section4-card-item4-clippath);
   clip-path: url(#Section4-card-item4-clippath);
}
#wb_Section4
{
   text-align: center;
}
#wb_Section4
{
   height: 730px;
   padding: 0;
}
#wb_Icon2
{
   width: 99px;
   height: 63px;
   visibility: visible;
   display: inline;
   margin: 0;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   padding: 0 -5px 0 -5px;
}
#Icon2
{
   width: 99px;
   height: 63px;
}
#Icon2 i
{
   line-height: 63px;
   font-size: 63px;
   width: 62px;
}
#DividerLine5
{
   width: auto;
   height: 4px;
   visibility: visible;
   display: inline;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 0;
   align-self: auto;
}
#DividerLine5
{
   border-color: #FFFFFF;
   border-bottom-width: 4px;
}
#DividerLine7
{
   width: auto;
   height: 3px;
   visibility: visible;
   display: inline;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 0;
   align-self: auto;
}
#DividerLine7
{
   border-color: #FFFFFF;
   border-bottom-width: 3px;
}
}
